<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Top Jugadores
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-slides [options] ="sliderOpts"
              *ngIf="jugadores.length === 0">
    <ion-slide>
      <ion-label>No disponible</ion-label>
    </ion-slide>
  </ion-slides>

  <ion-grid fixed *ngIf="jugadores.length > 0">
    <ion-row size="12">
      <ion-col *ngFor="let jugador of jugadores" size="12">
        <ion-card>
          <ion-card-header>
            <ion-card-title>{{ jugador.player }}</ion-card-title>
            <ion-card-subtitle>Puntuación: {{jugador.score}}</ion-card-subtitle>
            <ion-card-subtitle>Tiempo: {{jugador.time}}</ion-card-subtitle>
          </ion-card-header>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
